:host {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.status-code {
  font-size: var(--text-8xl);
  font-weight: 600;
  color: var(--primary-500);
  line-height: var(--lh-8xl);
}

.status-text {
  margin-block-end: var(--space-8);
  font-size: var(--text-xl);
  font-weight: 600;
  color: var(--primary-500);
  line-height: var(--lh-xl);
}
