form {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: var(--space-2) var(--space-2);
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field > input {
  inline-size: 100%;
}

.form-field > input.error {
  border-color: var(--red-500);
}

.form-field-error {
  min-block-size: var(--lh-xs);
  margin-block-start: var(--space-1);
  font-size: var(--text-xs);
  color: var(--red-500);
  line-height: var(--lh-xs);
}

label {
  margin-block-end: var(--space-1);
  font-size: var(--text-sm);
  font-weight: 500;
  color: var(--gray-700);
  line-height: var(--lh-sm);
}

.person-name {
  grid-column: 1 / -1;
}

.person-company {
  grid-column: 1 / -1;
}

app-person-avatar {
  block-size: var(--space-8);
  inline-size: var(--space-8);
  place-self: center;
  grid-row: 3;
  grid-column: 1 / 2;
}

.person-avatar {
  grid-column: 2 / -1;
}

.person-email {
  grid-column: 1 / -1;
}

.person-phone {
  grid-column: 1 / -1;
}

.person-address {
  grid-column: 1 / -1;
}

.person-about {
  grid-column: 1 / -1;
}

.person-about > textarea {
  min-block-size: calc(2 * var(--space-2) + var(--lh-sm) + 2px);
  resize: vertical;
}

.person-tags-header {
  display: flex;
  grid-column: 1 / -1;
  flex-direction: row;
  align-items: center;
  column-gap: var(--space-1);
  margin-block-end: var(--space-6);
}

.person-tags-header > label {
  margin-block-end: 0;
}

.person-added-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--space-3);
}

.person-add-tag,
.person-remove-tag {
  padding: 0;
  border-radius: 0;
  transition-property: color;
  transition-timing-function: var(--transition-fn);
  transition-duration: var(--transition-dur);
  background-color: transparent;
  color: inherit;
  line-height: 0;
}

.person-add-tag > svg {
  block-size: var(--text-md);
  inline-size: var(--text-md);
}

.person-remove-tag > svg {
  block-size: var(--text-base);
  inline-size: var(--text-base);
}

.person-add-tag:hover,
.person-remove-tag:hover {
  color: var(--primary-500);
}

.person-tag {
  grid-column: 1 / -1;
}

.person-tag-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: var(--space-1);
  margin-block-end: var(--space-1);
}

.person-tag-header > label {
  margin-block-end: 0;
}

@media (min-width: 640px) {
  form {
    grid-template-columns: repeat(6, 1fr);
  }

  app-person-avatar {
    place-self: initial;
    min-block-size: var(--space-16);
    min-inline-size: var(--space-16);
  }

  .person-email {
    grid-column: 1 / 4;
  }

  .person-phone {
    grid-column: 4 / -1;
  }

  .person-tag {
    grid-column: span 3;
  }
}

@media (min-width: 768px) {
  form {
    grid-template-columns: repeat(12, 1fr);
  }

  .person-name {
    grid-row: 1;
    grid-column: 1 / span 8;
  }

  .person-company {
    grid-row: 2;
    grid-column: 1 / span 8;
  }

  app-person-avatar {
    place-self: center;
    grid-row: 1;
    grid-column: span 4;
  }

  .person-avatar {
    grid-row: 2;
    grid-column: span 4;
  }

  .person-email {
    grid-column: 1 / span 8;
  }

  .person-phone {
    grid-column: span 4;
  }

  .person-tag {
    grid-column: span 4;
  }
}
